In [8]:
import pandas as pd
import numpy as np

df_true = pd.read_csv('True.csv')
df_fake = pd.read_csv('Fake.csv')

In [9]:
df_true=df_true.drop(['title','subject','date'], axis = 1)
df_true

                                                    text
0      WASHINGTON (Reuters) - The head of a conservat...
1      WASHINGTON (Reuters) - Transgender people will...
2      WASHINGTON (Reuters) - The special counsel inv...
3      WASHINGTON (Reuters) - Trump campaign adviser ...
4      SEATTLE/WASHINGTON (Reuters) - President Donal...
...                                                  ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
21413  LONDON (Reuters) - LexisNexis, a provider of l...
21414  MINSK (Reuters) - In the shadow of disused Sov...
21415  MOSCOW (Reuters) - Vatican Secretary of State ...
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[21417 rows x 1 columns]

In [10]:
df_fake=df_fake.drop(['title','subject','date'], axis = 1)

                                                    text
0      WASHINGTON (Reuters) - The head of a conservat...
1      WASHINGTON (Reuters) - Transgender people will...
2      WASHINGTON (Reuters) - The special counsel inv...
3      WASHINGTON (Reuters) - Trump campaign adviser ...
4      SEATTLE/WASHINGTON (Reuters) - President Donal...
...                                                  ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
21413  LONDON (Reuters) - LexisNexis, a provider of l...
21414  MINSK (Reuters) - In the shadow of disused Sov...
21415  MOSCOW (Reuters) - Vatican Secretary of State ...
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[21417 rows x 1 columns]

In [11]:
df_fake['label']=0
df_true['label']=1

In [13]:
df=pd.concat([df_fake, df_true], ignore_index=True)
df

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
44894  LONDON (Reuters) - LexisNexis, a provider of l...      1
44895  MINSK (Reuters) - In the shadow of disused Sov...      1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...      1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [14]:
X_raw = df['text'].values
y = df['label'].values

In [18]:
from sklearn.model_selection import train_test_split #pip install scikit-learn -> w cmd
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(X_raw)

  (0, 35305)	3
  (0, 110796)	7
  (0, 59451)	4
  (0, 29055)	2
  (0, 118573)	5
  (0, 11007)	6
  (0, 11659)	1
  (0, 49745)	6
  (0, 76224)	11
  (0, 120293)	15
  (0, 12004)	14
  (0, 64352)	1
  (0, 56939)	2
  (0, 14175)	2
  (0, 107766)	4
  (0, 55773)	1
  (0, 50409)	7
  (0, 49109)	2
  (0, 109171)	14
  (0, 46570)	1
  (0, 99269)	1
  (0, 80587)	1
  (0, 51717)	4
  (0, 38519)	5
  (0, 50166)	6
  :	:
  (0, 44491)	1
  (0, 79472)	2
  (0, 62003)	1
  (0, 89239)	1
  (0, 3887)	1
  (0, 116034)	1
  (0, 52075)	1
  (0, 108240)	1
  (0, 24395)	2
  (0, 79673)	1
  (0, 47399)	1
  (0, 56197)	1
  (0, 85831)	1
  (0, 117536)	1
  (0, 119314)	1
  (0, 6879)	1
  (0, 70727)	1
  (0, 78029)	1
  (0, 79477)	1
  (0, 83881)	1
  (0, 21927)	1
  (0, 12064)	1
  (0, 21686)	1
  (0, 46109)	1
  (0, 54181)	1

In [19]:
def classification(train_size,kernel):
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= train_size, random_state=42)
    model = SVC(kernel = kernel)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return accuracy_score(y_test, y_pred)

train_size = [0.2, 0.4, 0.6, 0.8]
kernels = ['linear', 'poly', 'rbf']

for i in train_size:
    for j in kernels:
        acc=classification(i,j)
        print("Train size = ", i, "kernel =", j, "ACC =", acc)

Train size =  0.2 kernel = linear ACC = 0.9914529914529915
Train size =  0.2 kernel = poly ACC = 0.8387482947743534
Train size =  0.2 kernel = rbf ACC = 0.9832957487680615
Train size =  0.4 kernel = linear ACC = 0.993837930138461
Train size =  0.4 kernel = poly ACC = 0.8642859794350198
Train size =  0.4 kernel = rbf ACC = 0.9889750918742344
Train size =  0.6 kernel = linear ACC = 0.9958240534521158
Train size =  0.6 kernel = poly ACC = 0.9026169265033408
Train size =  0.6 kernel = rbf ACC = 0.9920378619153675
Train size =  0.8 kernel = linear ACC = 0.9966592427616926
Train size =  0.8 kernel = poly ACC = 0.9564587973273943
Train size =  0.8 kernel = rbf ACC = 0.994543429844098